{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}" />
    <link rel="stylesheet" href="{% static 'myapp/bootstrap.min.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'myapp/images/favicon.ico' %}">
</head>

<body>

<div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/Restauran">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Reastauran/add/Restauran">Add Restauran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/owners/">Owners</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/register/">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login/">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <main>{%block content%}{%endblock%}</main>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

</body>
</html>